<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">Hi {{User.DisplayName}},</span>
    </font>
</div>
<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">&nbsp;</span>
    </font>
</div>
<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">This is an invitation to {{ApplicationName}}.</span>
    </font>
</div>
