<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">Bonjour {{User.DisplayName}},</span>
    </font>
</div>
<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">&nbsp;</span>
    </font>
</div>
<div style="margin:0;">
    <font face="Calibri,sans-serif" size="2">
        <span style="font-size:10pt;">Vous êtes cordialemente invité à la soirée spéciale "bonheur" par {{ApplicationName}}.</span>
    </font>
</div>
